---
backendVersion: 1.0.0
apiVersion: 1.0.0
elasticSearchConfiguration:
  # host and port of your elasticsearch
  host: localhost
  port: 9200
  index: hesperides
  reindexOnStartup: false # true/false
  retry: 5 # index retry before failure
  waitBeforeRetryMs: 5000
cacheConfiguration:
  redisConfiguration:
    ####################################
    # for a single redis configuration #
    ####################################
    type: REDIS
    host: localhost
    port: 6379
    retry: 5
    waitBeforeRetryMs: 20000
    ##################################################
    # for a sentinel configuration (production mode) #
    ##################################################
    # type: SENTINEL
    # host: 10.101.108.112
    # port: 56379
    # retry: 5
    # waitBeforeRetryMs: 2000
    # masterName: hesperides_redis_master
    # sentinels:
    #   - IP_SENTINEL_1:PORT_SENTINEL_1
    #   - IP_SENTINEL_2:PORT_SENTINEL_2
  nbEventBeforePersiste: 100
  # Set true if you use a previous version of Hepserides that not support cache system
  generateCaheOnStartup: false
  # Cache configuration for platform in time
  platformTimeline:
    maxSize: 100
    itemExpireAfter: 10m
    #weight: -1
  # Cache configuration for module
  module:
    maxSize: 100
    itemExpireAfter: 5m
  # Cache configuration for templatePackage (called techno in GUI)
  templatePackage:
    maxSize: 100
    #weight: -1
    itemExpireAfter: 5m
  # Cache configuration for platform
  platform:
    maxSize: 100
    itemExpireAfter: 5m
    #weight: not valid
redisConfiguration:
  ####################################
  # for a single redis configuration #
  ####################################
  type: REDIS 
  host: localhost
  port: 6379
  retry: 5
  waitBeforeRetryMs: 20000
  ##################################################
  # for a sentinel configuration (production mode) #
  ##################################################
  # type: SENTINEL
  # host: 10.101.108.112
  # port: 56379
  # retry: 5
  # waitBeforeRetryMs: 2000
  # masterName: hesperides_redis_master
  # sentinels:
  #   - IP_SENTINEL_1:PORT_SENTINEL_1
  #   - IP_SENTINEL_2:PORT_SENTINEL_2
authenticatorType: none # allowed values : none, simple, LDAP
##########################
# for ldap configuration #
##########################
# ldapConfiguration:
#   uri: URI_OF_YOUR_LDAP
#   adDomain: DOMAIN_AD
#   connectTimeout: 1000ms
#   readTimeout: 1000ms
#   userNameAttribute: sAMAccountName
#   userSearchBase: dc=mother,dc=com
#   roleSearchBase: ou=kikoo,dc=mother,dc=com
#   prodGroupName: HESPERIDES_PROD_GROUP        # Group allow modify platform production
#   techGroupName: HESPERIDES_TECH_GROUP        # Group allow to call technical API of Hesperides (reindex, cache...)
#   pool:                                       # Ldap Pool Configuration
#     initsize: 5
#     maxsize: 20
#     idleTimeout: 60000
authenticationCachePolicy: maximumSize=10000, expireAfterAccess=10m 
useDefaultUserWhenAuthentFails: false # allows you to bypass authent :true for development mode, false for production mode
# settings to define 
server:
  type: simple
#   maxThreads: 100                             # Dropwizard maximum thread
  applicationContextPath: /
  adminContextPath: /admin # access to metrics/ping/threads/healthcheck
  connector:
    type: http
    port: 8080
    bindHost: localhost
corsConfiguration:
  headers: "Authorization,X-Requested-With,Content-Type,Accept,Origin"
  origins: "*"
  methods: "OPTIONS,GET,PUT,POST,DELETE,HEAD"
# Logging settings
logging:
  level: INFO
  loggers:
    com.vsct.dt.hesperides: DEBUG
  appenders:
    - type: console
httpClientConfiguration:
  timeout: 2000ms
# Feedback configuration
feedbackConfiguration:
  imagePathStorage: feedbackReport # don't name it feedback
  # Hipchat
  hipchatSubdomain: SUBDOMAIN_SOCIETY_HIPCHAT
  hipchatId: ROOM_ID
  hipchatToken: HIPCHAT_TOKEN_USER_WITH_NOTIFICATION_SCOPE
#Proxy
proxyConfiguration:
  proxyUrlPort:    #empty if no proxy
# Settings about events in hesperides
eventsConfiguration:
  poolMinSize: 1
  poolMaxSize: 1
  queueCapacity: 255
assets:
  overrides:
    /: ../hesperides-gui/app # path to your hesperides-gui/app folder