---
backendVersion: 1.0.0
apiVersion: 1.0.0
elasticSearchConfiguration:
  # host and port of your elasticsearch
  host: localhost
  port: 9200
  index: hesperides
  reindexOnStartup: false # true/false
  retry: 5 # index retry before failure
  waitBeforeRetryMs: 5000
redisConfiguration:
  ####################################
  # for a single redis configuration #
  ####################################
  type: REDIS 
  host: localhost
  port: 6379
  retry: 5
  waitBeforeRetryMs: 20000
  ##################################################
  # for a sentinel configuration (production mode) #
  ##################################################
  # type: SENTINEL
  # host: 10.101.108.112
  # port: 56379
  # retry: 5
  # waitBeforeRetryMs: 2000
  # masterName: hesperides_redis_master
  # sentinels:
  #   - IP_SENTINEL_1:PORT_SENTINEL_1
  #   - IP_SENTINEL_2:PORT_SENTINEL_2
authenticatorType: none # allowed values : none, simple, LDAP
##########################
# for ldap configuration #
##########################
# ldapConfiguration:
#   uri: URI_OF_YOUR_LDAP
#   adDomain: DOMAIN_AD
#   connectTimeout: 1000ms
#   readTimeout: 1000ms
#   userNameAttribute: sAMAccountName
#   userSearchBase: dc=groupevsc,dc=com
#   roleSearchBase: ou=ARCHITECTURE,dc=groupevsc,dc=com
#   prodGroupName: GG_A_HESPERIDES_PROD
authenticationCachePolicy: maximumSize=10000, expireAfterAccess=10m 
useDefaultUserWhenAuthentFails: false # allows you to bypass authent :true for development mode, false for production mode
# settings to define 
server:
  type: simple
  applicationContextPath: /
  adminContextPath: /admin # access to metrics/ping/threads/healthcheck
  connector:
    type: http
    port: 8080
    bindHost: localhost
# Logging settings
logging:
  level: INFO
  loggers:
    com.vsct.dt.hesperides: DEBUG
  appenders:
    - type: console
httpClientConfiguration:
  timeout: 2000ms
# Feedback configuration
feedbackConfiguration:
  imagePathStorage: feedback/
  # Hipchat
  hipchatSubdomain: SUBDOMAIN_SOCIETY_HIPCHAT
  hipchatId: ROOM_ID
  hipchatToken: HIPCHAT_TOKEN_USER_WITH_SEND_MESSAGE_SCOPE
# Settings about events in hesperides
eventsConfiguration:
  poolMinSize: 1
  poolMaxSize: 1
  queueCapacity: 255
assets:
  overrides:
    /: ../hesperides-gui/app # path to your hesperides-gui/app folder
