{
"_source": ["platform_name"],
"query":{
"bool":{
"must":[
{
"wildcard":{
"application_name":"*{{applicationName}}*"
}
},
{
"wildcard":{
"platform_name.lower_white_space":"*{{platformName}}*"
}
}
],
"must_not":[

],
"should":[

]
}
},
"from":0,
"sort":[

],
"aggs":{

}
}