{
   "_source": ["modules.name", "modules.version", "modules.working_copy"],
   "query":{
      "constant_score":{
         "filter":{
            "bool":{
               "must":[
                  {
                     "term":{
                        "modules.name":"{{moduleName}}"
                     }
                  },
                  {
                     "term":{
                        "modules.version":"{{moduleVersion}}"
                     }
                  },
                  {
                     "term":{
                        "modules.working_copy": "{{isWorkingCopy}}"
                     }
                  }
               ]
            }
         }
      }
   }
}