version: '2'

services:

  elasticsearch:
    image: "mongo:3.4.14"
    ports:
      - "27017:27017"
    restart: always
    networks:
      - hesperides-network

networks:

  hesperides-network:
    driver: bridge
