{
    "_source": ["application_name", "application_version", "platform_name"],
	"query": {
		"bool": {
			"must": [
				{
					"term": {
						"platforms.application_name":"{{applicationName}}"
					}
				}
			],
			"must_not": [],
			"should": []
		}
	},
    "from": 0,
    "size": 999,
    "sort": []
}