{
    "_source": ["name", "version", "working_copy"],
	"query": {
		"bool": {
			"must": [
				{
					"term": {
						"name": "{{name}}"
					}
				}
			],
			"must_not": [],
			"should": []
		}
	},
	"from": 0,
	"size": 999,
	"sort": [],
	"aggs": {}
}
