{
  "_source": [
    "hesnamespace",
    "name"
  ],
  "query": {
    "bool": {
      "must": [
        {
          "term": {
            "templates.hesnamespace.untouched": "{{namespace}}"
          }
        }
      ]
    }
  },
  "from": 0,
  "size": 100,
  "sort": []
}