AMQ:
{{#components}}
    - NAME: {{{name}}}
    USER: {{{user}}}
    HOME: {{{home}}}
    BINS:
    {{#bins}}
        - NAME: {{{name}}}
        VERSION: {{{version}}}
        HOME: {{{home}}}
    {{/bins}}
    HOSTS:
    {{#hosts}}
        - NAME: {{{name}}}
        INSTANCES:
        {{#instances}}
            - NAME: {{{name}}}
            IP: {{{ip}}}
            AMQ_TYPE: {{{amqType}}}
            QUEUE: {{{queue}}}
            MASTER: {{{master}}}
            LOGICAL_NAME: {{{logicalName}}}
            TARGETDIR: {{{targetDir}}}
            DISCOVERY_URL: {{{discoveryUrl}}}
            PORTS:
            {{#ports}}
                - NAME: {{{name}}}
                NUMBER: {{{number}}}
            {{/ports}}
            USELINK:
            {{#links.uselink}}
                - NAME: {{{name}}}
                TYPE: {{{type}}}
                INSTANCES:
                {{#instances}}
                    - {{{.}}}
                {{/instances}}
            {{/links.uselink}}
        {{/instances}}
    {{/hosts}}
{{/components}}
