ATO:
{{#components}}
    - NAME: {{{name}}}
    USER: {{{user}}}
    HOME: {{{home}}}
    BINS:
    {{#bins}}
        - NAME: {{{name}}}
        VERSION: {{{version}}}
        HOME: {{{home}}}
    {{/bins}}
    PORTS:
    {{#ports}}
        - NAME: {{{name}}}
        NUMBER: {{{number}}}
    {{/ports}}
    HOSTS:
    {{#hosts}}
        - NAME: {{{name}}}
    {{/hosts}}
{{/components}}
