ESB:
{{#components}}
    - NAME: {{{name}}}
    USER: {{{user}}}
    HOME: {{{home}}}
    TARGETDIR: {{{targetDir}}}
    PUPPET_TEMPLATE_VERSION: {{{puppetTemplateVersion}}}
    BINS:
    {{#bins}}
        - NAME: {{{name}}}
        VERSION: {{{version}}}
        HOME: {{{home}}}
    {{/bins}}
    CONTEXTS:
    {{#modules}}
        - NAME: {{{name}}}
        WAR: {{{war}}}
        MODULE: {{{context}}}
    {{/modules}}
    HOSTS:
    {{#hosts}}
        - NAME: {{{name}}}
        INSTANCES:
        {{#instances}}
            - NAME: {{{name}}}
            IP: {{{ip}}}
            PORTS:
            {{#ports}}
                - NAME: {{{name}}}
                NUMBER: {{{number}}}
            {{/ports}}
            LOGLEVEL: {{{logLevel}}}
            JVM_OPTS_SURCHARGE:
            {{#jvmOptions}}
                TUNNING:
                {{#tuning}}
                    - {{{.}}}
                {{/tuning}}
                SYSTEM:
                {{#system}}
                    - {{{.}}}
                {{/system}}
            {{/jvmOptions}}
            USELINK:
            {{#links.uselink}}
                - NAME: {{{name}}}
                TYPE: {{{type}}}
                INSTANCES:
                {{#instances}}
                    - {{{.}}}
                {{/instances}}
            {{/links.uselink}}
        {{/instances}}
    {{/hosts}}
{{/components}}
