HTTP:
{{#components}}
    - NAME: {{{name}}}
    USER: {{{user}}}
    HOME: {{{home}}}
    TARGETDIR: {{{targetDir}}}
    METHOD_TEST: {{{methodTest}}}
    NB_ECHEC: {{{nbEchec}}}
    HOSTS:
    {{#hosts}}
        - NAME: {{{name}}}
        INSTANCES:
        {{#instances}}
            - NAME: {{{name}}}
            IP: {{{ip}}}
            PORTS:
            {{#ports}}
                - NAME: {{{name}}}
                NUMBER: {{{number}}}
            {{/ports}}
            USELINK:
            {{#links.uselink}}
                - NAME: {{{name}}}
                TYPE: {{{type}}}
                INSTANCES:
                {{#instances}}
                    - {{{.}}}
                {{/instances}}
            {{/links.uselink}}
        {{/instances}}
    {{/hosts}}
{{/components}}
