WAS:
{{#components}}
    - NAME: {{{name}}}
    USER: {{{user}}}
    HOME: {{{home}}}
    BINS:
    {{#bins}}
        - NAME: {{{name}}}
        VERSION: {{{version}}}
        HOME: {{{home}}}
    {{/bins}}
    TARGETDIR: {{{targetDir}}}
    PUPPET_TEMPLATE_VERSION: {{{puppetTemplateVersion}}}
    PUPPET_TEMPLATE_PATH: {{{puppetTemplatePath}}}
    MULTICAST: {{{multicast}}}
    CONSAMQ: {{{consamq}}}
    JDBC:
    {{#links.jdbc}}
        - NAME: {{{name}}}
        SCHEMA: {{{schema}}}
        POOL:
        MIN: '{{{poolMin}}}'
        MAX: '{{{poolMax}}}'
    {{/links.jdbc}}
    JMS:
    {{#links.jms}}
        - NAME: {{{name}}}
        INSTANCE: {{{instance}}}
    {{/links.jms}}
    HOSTS:
    {{#hosts}}
        - NAME: {{{name}}}
        {{#links.jolt}}
            JOLT:
            HOSTS:
            {{#hosts}}
                - {{{.}}}
            {{/hosts}}
            GATEWAY:
            {{#gateways}}
                - {{{.}}}
            {{/gateways}}
            POOL:
            MIN: '{{{poolMin}}}'
            MAX: '{{{poolMax}}}'
        {{/links.jolt}}
        INSTANCES:
        {{#instances}}
            - NAME: {{{name}}}
            IP: {{{ip}}}
            PORTS:
            {{#ports}}
                - NAME: {{{name}}}
                NUMBER: {{{number}}}
            {{/ports}}
            LOGLEVEL: {{{logLevel}}}
            JVM_OPTS_SURCHARGE:
            {{#jvmOptions}}
                TUNNING:
                {{#tuning}}
                    - {{{.}}}
                {{/tuning}}
                SYSTEM:
                {{#system}}
                    - {{{.}}}
                {{/system}}
            {{/jvmOptions}}
            MODULES:
            {{#modules}}
                - NAME: {{{name}}}
                WAR: {{{war}}}
                CONTEXT: {{{context}}}
            {{/modules}}
            USELINK:
            {{#links.uselink}}
                - NAME: {{{name}}}
                TYPE: {{{type}}}
                INSTANCES:
                {{#instances}}
                    - {{{.}}}
                {{/instances}}
            {{/links.uselink}}
        {{/instances}}
    {{/hosts}}
{{/components}}
