{
"_source":[
"name",
"version",
"working_copy"
],
"query":{
"bool":{
"must":[
{
"wildcard":{
"name":"**"
}
},
{
"wildcard":{
"version":"*"
}
}
],
"must_not":[

],
"should":[
]
}
},
"from":0,
"size":9999999,
"sort":[

],
"aggs":{

}
}