name: Build, test and publish

on: # cf. https://github.community/t/how-to-trigger-an-action-on-push-or-pull-request-but-not-both/16662
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:  # = manually triggered

env:
  DOCKER_IMAGE: hesperides/hesperides
  IMAGE_TARBALL_FILENAME: hesperides-docker-image.tar
  UPLOAD_NAME: docker-artifact
  UPLOAD_PATH: artifacts

jobs:
  maven-unit-and-functional-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Maven cache
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ hashFiles('**/pom.xml') }}
      - name: Launching tests with Maven
        run: |
          mvn test -B -pl '!tests/activedirectory-integration,!tests/mongo-integration,!tests/regression' jacoco:report-aggregate
          bash <(curl -s https://codecov.io/bash)

  mongodb-integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Maven cache
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ hashFiles('**/pom.xml') }}
      - uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: 4.2
      - name: Launching tests with Maven
        run: |
          mvn install -B -Dmaven.test.skip=true -Dmaven.javadoc.skip=true -Djacoco.skip=true
          mvn spring-boot:run -B -pl bootstrap -Dspring.profiles.active=mongo,noldap &
          mongo hesperides mongo_create_collections.js
          # Give some time for the application to start:
          sleep 30
          mvn -B -pl tests/mongo-integration verify

  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Building Docker image
        run: .github/workflows/docker_build.sh "${{ github.event.commits[0].message }}"
      - run: mkdir -p $UPLOAD_PATH
      - run: docker save $DOCKER_IMAGE:$GITHUB_SHA >$UPLOAD_PATH/$IMAGE_TARBALL_FILENAME
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ env.UPLOAD_NAME }}
          path: ${{ env.UPLOAD_PATH }}
          retention-days: 1

  docker-push:
    # Only perform this on master branch
    # or on branches when triggered manually
    if: github.ref == 'refs/heads/master' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    needs: [ maven-unit-and-functional-tests, mongodb-integration-tests, docker-build ]
    env:
      DOCKER_USER: hesperides
      DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: ${{ env.UPLOAD_NAME }}
          path: ${{ env.UPLOAD_PATH }}
      - run: docker load < $UPLOAD_PATH/$IMAGE_TARBALL_FILENAME
      - name: Debug-display event name
        run: echo ${{ github.event_name }}
      - name: Deploying image to public Docker Hub
        run: .github/workflows/docker_push.sh
